[core]
	editor = \"C:\\Users\\mohamed\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	excludesFile = C:\\Users\\mohamed\\.gitignore
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
